body {
    background-image: url('zd.jpg');
    background-size: cover;
}

footer {
    background: linear-gradient(to bottom, #300046, #0c0032);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

address{
    color: white;
    font-family: 'Cyberpunk 2077', sans-serif;
    font-display: swap;
    font-size: 50px; 
}

address::before {
    content: '\00a9'; 
    font-size: 30px;
}

.cyber-glitch-3 {
    animation: cyber-glitch-3 1s linear infinite;
}

@keyframes cyber-glitch-3 {
    0% {
        visibility: visible
    }

    49% {
        visibility: visible
    }

    50% {
        visibility: hidden
    }

    100% {
        visibility: hidden
    }
}

.cyber-glitch-4 {
    animation: cyber-glitch-4 5s linear infinite
}
    
    @keyframes cyber-glitch-4 {
    0% {
    visibility: visible
    }
    
    1% {
    visibility: hidden
    }
    
    2% {
    visibility: hidden
    }
    
    3% {
    visibility: visible
    }
    
    20% {
    visibility: visible
    }
    
    21% {
    visibility: hidden
    }
    
    24% {
    visibility: hidden
    }
    
    25% {
    visibility: visible
    }
    
    40% {
    visibility: visible
    }
    
    41% {
    visibility: hidden
    }
    
    42% {
    visibility: hidden
    }
    
    43% {
    visibility: visible
    }
    
    44% {
    visibility: visible
    }
    
    45% {
    visibility: hidden
    }
    
    46% {
    visibility: hidden
    }
    
    47% {
    visibility: visible
    }
    
    60% {
    visibility: visible
    }
    
    61% {
    visibility: hidden
    }
    
    64% {
    visibility: hidden
    }
    
    65% {
    visibility: visible
    }
    
    70% {
    visibility: visible
    }
    
    71% {
    visibility: hidden
    }
    
    72% {
    visibility: hidden
    }
    
    73% {
    visibility: visible
    }
    
    100% {
    visibility: visible
    }
    }
    @font-face {
    font-family: 'Cyberpunk 2077';
    src: url('Cyberpunk.ttf') format('truetype');
    }


body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 40px;
    padding: 85px 180px;
    margin: 85px;
    border: none;
    color: #fff;
    background: linear-gradient(to right, #4b0082, #8a2be2);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.button:hover {
    transform: scale(1.5);
    background-position: 0 0;
}

a{
   text-decoration: none;
}

#clock {
    flex: 1;
    text-align: right;
    margin-right: 20px; 
    font-size: 24px;
    color: #fff;
}

.header-content {
    display: flex;
    align-items: center;
}

.clockdate-wrapper {
    flex: 1; 
    text-align: right; 
    max-width: 35%;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: linear-gradient(to top, #300046, #0c0032);
    color: #fff;
}

h1 {
    flex: 1;
    text-align: left; 
    margin: 0;
    z-index: 1;
    color: white;
    font-family: 'Cyberpunk 2077', sans-serif;
    font-display: swap;
    font-size: 50px; 
    max-width: 35%;
}

h2 {
    flex: 1;
    text-align: center; 
    margin: 0;
    z-index: 1;
    color: white;
    font-family: 'Cyberpunk 2077', sans-serif;
    font-display: swap;
    font-size: 50px; 
}
.button-row {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 50%; 
}

.button-wrapper {
    flex: 1;
    text-align: center;
}

.media {
    display: flex;
    justify-content: center; /* Wycentruj zawartość poziomo */
    align-items: center; /* Wycentruj zawartość pionowo */
    gap: 20px; /* Dodaj odstęp między ikonami mediów */
}

.fa {
    font-size: 36px; /* Zwiększ rozmiar ikon */
    color: white; /* Ustal kolor ikon */
    transition: color 0.3s ease;
}

.fa:hover {
    color: #8a2be2; /* Kolor ikon po najechaniu myszką */
}